{% extends 'common/index.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <h1 style="height: 100px">Sign In</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div>{{ field.label_tag }}</div>
                    <div>{{ field }}</div>
                    <div>{{ field.errors }}</div>
                </div>
            {% endfor %}
            {% if messages %}
            <div class="messages text-center">
                {% for message in messages %}
                <div {% if message.tags %} class="alert-{{ message.tags }}"{% endif %} style="font-size: 12px; color:red">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn-default btn-success btn" style="float: right;">로그인</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
