{% extends 'common/index.html' %}

{% block content %}
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <div>
      <h1>{{ memo.title }}</h1>
    </div>
    <div>
      <p class="lead">{{ memo.description }}</p>
    </div>
    <a href="{% url 'schedule:memo_edit' pk=memo.pk %}" class="btn btn-default btn-primary">Edit</a>
    <form action="{% url 'schedule:memo_delete' pk=memo.pk %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-danger">Delete</button>
    </form>
    <a href="{% url 'schedule:memo_main' %}" class='btn btn-default btn-primary'>Back</a>
  </div>
  <div class="col-md-4">

  </div>

</div>
{% endblock %}
