{% extends 'common/index.html' %}

{% block content %}
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <div>
      <h1>{{ memo.title }}</h1>
    </div>
    <div>
      <p class="lead">{{ memo.description }}</p>
    </div>
    <form action="{% url 'schedule:memo_delete' pk=memo.pk %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-success">삭제</button>
    </form>
    <a href="{% url 'schedule:memo_edit' pk=memo.pk %}" class="btn btn-default btn-success">편집</a>

  </div>
  <div class="col-md-4">

  </div>

</div>
{% endblock %}
