#maincontainer {
  width: 1200px;
  margin: 0 auto;
  height: 600px;
}

#section {
  width: 800px;
  box-sizing: border-box;
  float: left;
}

#diary {
  margin-top: 80px;
  height: 400px;
}

#aside {
  width: 400px;
  border: solid 1px #009245;
  box-sizing: border-box;
  float: right;
  height: 800px;
}
